/* styles.css */

.heading{
    text-align: left;
    padding-left:5rem
}

.container {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  flex: 0 0 200px; /* Sidebar width */
  background-color: #f2f2f2;
  padding: 20px;
}

.posts {
  flex: 1;
  padding: 20px;
}

.sorting-options {
  flex: 0 0 200px; /* Sorting options width */
  background-color: #f2f2f2;
  padding: 20px;
}

/* styles.css */

.post-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add any additional styling as per your requirements */
