/* styles.css */

.heading{
    text-align: left;
    padding-left:5rem
}

.container {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  flex: 0 0 200px; /* Sidebar width */
  background-color: #f2f2f2;
  padding: 20px;
}

.posts {
  flex: 1;
  padding: 20px;
}

.sorting-options {
  flex: 0 0 200px; /* Sorting options width */
  background-color: #f2f2f2;
  padding: 20px;
}

/* ------------------- */

.posts{
    background-color: #f2f2f2;
}

.post-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 50%;
   background: white;
   margin-bottom: 20px;
   padding: 20px;
}
.post-content p {
  text-align: left;
 
}

.vote-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 hr{
    border: 2px solid black;
 }

.vote-button,
.bookmark-button,
.comment-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin:5px;
}

.vote-button i,
.bookmark-button i {
  margin-right: 5px;
}

.vote-count {
  margin-right:10px ;
}

.vote-section .function-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.comments-section {
  margin-top: 10px;
}

/* Add any additional styling as per your requirements */
